@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Press+Start+2P&display=swap');

body{
    background-color:#1b1b1b;
    color:#F0FFFF;
    font-family:'PT Sans';
    letter-spacing: 0.05em;
    text-align: justify;
}

a{
    color: #0cc7b7;
}
a:hover{
    color:#F0FFFF;
}

b{
    color:#dfc014;
}

p{
    text-indent: 1.5em;

}
body{
    background-image: url("companion_Cube.webp"), url("aperturelogoazul.png"), url("crysis1_2.png"), url("stardewvalley.webp");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 93.5% 10%, 5% 10%, 2% 30%, 98% 30%;
    background-size: 8%, 8%, 15%, 15%;
}


h1{
    border-bottom:2px solid #dfc014;
    padding-bottom:2%;
    font-size:300%;
    font-style: italic;
    letter-spacing:4px;
    font-family:'Press Start 2P';
    text-align: center;
    text-shadow:10px 5px 5px #0f2fbb;
    color:#0cc7b7;
}

.foto{
    max-width:35%;
    height: auto;
}

#foto1{
    max-width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding: 1%;
    border-left:0.05em solid #0cc7b7;
    border-right:0.05em solid #0cc7b7;
    background-image: url("arma3back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}

.header h2{
    text-align: center;
}

.principal{
    background-image:linear-gradient(to bottom, #1b1b1b, #292929);
    padding:1%;
    border:0.05em solid #dfc014;
}

.content-fotos{
    display: flex;
}

#foto2, #foto3{
    max-width:90%;
}

.footer{
    margin-top:1em;
    border-top:0.05em solid #0cc7b7;
    text-align: center;
}

.links{
    display:flex;
    height:1%;
    background-color: #292929;
}

#link1{
    float: left;
    margin-right: 50%;
    margin-left:auto;
    background-color: #292929;
}

#link2{
    margin-right: auto;
    background-color: #292929;
}